**/*.class
**/bin/
**/target/
**/.project
**/.classpath
**/.metadata
**/.settings
**/.checkstyle
**/*~
**/#*#
**/*.aux
**/*.log
**/*.toc
**/*.iml
**/.idea
**/.Rhistory
**/.~lock.*#
**/.nsf*
**/*.lock
